.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background {
  background: var(--identity-tab-color) !important;
  opacity: 0.5;
}

.tabbrowser-tab > .tab-stack >  .tab-background[selected="true"] > .tab-context-line {
  height: 5px !important;
  background: blue !important;
}